data_dir = "./tmp/db/"

table "users" {
    driver = "jsondir"
    source = "./tmp/data/users"
    loader = ".*"
    columns = ["id", "email"]
}

table "users2" {
    driver = "sqlite3"
    source = "file:./tmp/db/db.xyr?_query_only=true"
    loader = "SELECT id, email FROM users"
    columns = ["id", "email"]
}
