data_dir = "./tmp/db/"

table "users" {
    driver = "jsondir"
    source = "./tmp/data/users"
    loader = ".*"
    columns = ["id", "email"]
}

table "users2" {
    driver = "sqlite3"
    source = "file:./tmp/db/db.xyr?_query_only=true"
    loader = "SELECT id, email FROM users"
    columns = ["id", "email"]
}

table "users3" {
    driver = "s3jsondir"
    source = "s3://access_key_url_encoded:secret_key_url_encoded@/bucket_name?region=&ssl=false&path=true&perpage=1000"
    filter = "xyr/users/" # s3 prefix to filter
    columns = ["id", "email"]
}
